<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Posts | Carolina Fintech Hub Blog</title>
  <link rel="icon" type="image/x-icon" href="../public/img/favicon.png" th:href="@{/img/favicon.png}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Consolas&display=swap');
    body {
      font-family: 'Consolas', sans-serif;
    }
  </style>
</head>

<body>
  <!-- create navigation bar ( header) -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a>
          <img src="../public/img/site-logo_white.png" th:src="@{/img/site-logo_white.png}" id="siteLogo" />
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Home</a></li>
          <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
          <li sec:authorize="!isAuthenticated()"><a th:href="@{/registration}">Register</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/view_posts}">Posts</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/post/new}">Create Post</a></li>
          <!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/}">User</a></li> -->
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
          <!-- <li id="logged-in-info">
						<form method="post" th:action="@{/logout}" >
							<span>Hello</span> <a th:href="@{registration/{id}(id=${registration.firstName})}"></a>
						</form>
					</li> -->
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div id="container1">
    <h3 id="welcomes">Welcome to the Carolina Fintech Hub Blog.</h3>
    <h4 id="allpostsviews">All Posts.</h4>
  </div>
  <div th:if="${param.success}" class="alert alert-info" id="messages">You have successfully logged in.</div>
  <div th:if="${param.logout}" class="alert alert-info" id="messages">You have successfully logged out.</div>
  <div th:if="${param.deleted}" class="alert delete-alert">Post has been successfully deleted</div>
  <br>
  <div id="centertable">
    <table>
      <thead>
        <tr>
          <th>
            <a th:href="@{'?sortField=title&sortDir=' + ${reverseSortDir}}" id="tabletitle">
              Post Title
            </a>
          </th>
          <th id="tabletitles">
            Post Author
          </th>
          <th><a th:href="@{'?sortField=date&sortDir=' + ${reverseSortDir}}" id="tabletitle">
              Time Posted
            </a></th>
          <th id="tabletitles">
            Post Content
          </th>
          <th id="tabletitles">Actions</th>
        </tr>
      </thead>
      <div class="posts-container">
        <tbody>
          <tr th:each="post : ${posts}">
            <td>
              <div class="posts-preview">
                <a id="postname2" th:text="${post.title}" th:href="@{/post/view/{id}(id=${post.id})}"></a>
              </div>
            </td>
            <td>
              <div class="posts-info">
                <p class="card-text" id="postscontents" th:text="${post.content}"></p>
                <h5>Posted by: <br /> <span th:text="${post.author}"></span></h5>
                <h5>Created on: <span th:text="${post.date}"></span></h5>
                <a th:href="@{/post/{id}/update(id=${post.id})}" class="btn btn-primary" id="updatebutton1">Update</a>
                <a th:href="@{/post/{id}/delete(id=${post.id})}" class="btn btn-danger" id="deletebutton1">Delete</a>
              </div>
            </td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
  <footer th:fragment="site-footer" id="footerdoc">
    &copy; Carolina Fintech Hub Blog, Group 7.
  </footer>
</body>

</html>